html {
  height: 100%;
}
body {
  min-height: 100%;
  width: 100%;
}
body #home {
  background-image: url('images/headerbanner.png');
  background-repeat: no-repeat;
  background-size: cover;
}
body #home header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
body #home header .logo {
  width: 87px;
  height: 83px;
  padding-top: 20px;
}
body #home header nav {
  margin-left: 220px;
  padding-top: 55px;
  padding-bottom: 45px;
}
body #home header nav ul li {
  margin-right: 40px;
  display: inline-block;
}
body #home header nav ul li a {
  display: block;
  padding-bottom: 20px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  border-bottom: 5px solid transparent;
  margin-bottom: -5px;
}
body #home header nav ul li a:hover,
body #home header nav ul li a.active {
  border-bottom: 5px solid #0099ff;
  color: #ffffff;
}
body #home header .links {
  padding-top: 55px;
}
body #home header .links li {
  display: inline-block;
  margin-right: 10px;
}
body #home header .links li a {
  display: block;
}
body #home .group-16 {
  text-align: center;
  padding-top: 277px;
  padding-right: 20px;
}
body #home .group-16 h2 {
  font-size: 152.54px;
  font-weight: 900;
  color: #f5f5f5;
  padding-bottom: 35px;
  line-height: auto;
}
body #home .group-16 h4 {
  margin-left: 20px;
  margin-bottom: 110px;
  font-size: 24.79px;
  line-height: 119.12px;
  letter-spacing: 19px;
  font-weight: 600;
  color: #11749e;
}
body #home .group-16 p {
  margin-bottom: 30px;
}
body #home .group-16 .btn-home {
  padding-bottom: 130px;
}
body #home .group-16 .btn-home a {
  display: block;
  width: 65px;
  height: 65px;
  border: 1px solid white;
  border-radius: 50%;
  margin: 0 auto;
  padding-top: 20px;
}
@media screen and (max-width: 750px) {
  body #home .group-16 h2 {
    font-size: 110px;
  }
}
@media screen and (max-width: 550px) {
  body #home .group-16 h2 {
    font-size: 80px;
  }
  body #home .group-16 h4 {
    font-size: 19px;
    line-height: 60px;
    letter-spacing: 1px;
  }
}
@media screen and (max-width: 410px) {
  body #home .group-16 h2 {
    font-size: 60px;
  }
}
@media screen and (max-width: 965px) {
  body #home header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body #home header nav {
    margin: 0 auto;
  }
  body #home header nav ul li {
    display: block;
    padding-bottom: 10px;
  }
}
body #Features {
  background-color: #11749e;
  background-image: url('images/w.png');
  background-repeat: no-repeat;
  background-position: top 100px center;
  text-align: center;
  padding-top: 170px;
  padding-bottom: 130px;
}
body #Features h3 {
  font-size: 37.55px;
  line-height: 84.6px;
  margin-bottom: 145px;
}
body #Features .feature {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
body #Features .feature .boxes {
  width: 275px;
  margin: 0 auto;
}
body #Features .feature .boxes .imagebox {
  width: 140px;
  height: 140px;
  background-color: #2e85aa;
  border-radius: 50%;
  margin: 0 auto;
  padding-top: 55px;
}
body #Features .feature .boxes h2 {
  font-size: 18px;
  line-height: 36px;
  margin: 20px 0 30px 0;
}
body #Features .feature .boxes p {
  font-size: 15px;
  line-height: 24px;
}
@media screen and (max-width: 640px) {
  body #Features .feature {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
body #news .top {
  background-color: #222222;
  display: flex;
  justify-content: space-between;
}
body #news .top .left {
  width: 50%;
}
body #news .top .left .text {
  margin: 70px 70px 0px 205px;
}
body #news .top .left .text .date {
  font-size: 13px;
}
body #news .top .left .text h2 {
  font-size: 25px;
  line-height: 36px;
  margin-bottom: 40px;
}
body #news .top .left .text p {
  margin-bottom: 30px;
}
body #news .top .right {
  width: 50%;
  height: auto;
}
body #news .top .right img {
  width: 100%;
  height: 100%;
}
body #news .bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #f3f3f3;
}
body #news .bottom .right {
  width: 50%;
}
body #news .bottom .right img {
  width: 100%;
}
body #news .bottom .left {
  width: 50%;
}
body #news .bottom .left .text {
  color: #222222;
  margin: 50px 246px 120px 80px;
}
body #news .bottom .left .text .date {
  font-size: 13px;
}
body #news .bottom .left .text h2 {
  font-size: 25px;
  line-height: 36px;
  margin-bottom: 40px;
}
body #news .bottom .left .text p {
  margin-bottom: 30px;
}
@media screen and (max-width: 1400px) {
  body #news .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body #news .top .left .text {
    margin: 0;
    padding: 40px;
  }
  body #news .top .right {
    margin-bottom: 30px;
  }
  body #news .top .right img {
    width: 100%;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  body #news .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body #news .bottom .left .text {
    margin: 0;
    padding: 40px;
  }
  body #news .bottom .right {
    margin-bottom: 30px;
  }
  body #news .bottom .right img {
    width: 100%;
    padding-bottom: 30px;
    padding-top: 30px;
  }
}
body #blog {
  background-image: url('images/B.png');
  background-repeat: no-repeat;
  background-position: top 90px center;
}
body #blog .content {
  text-align: center;
  color: #222222;
  padding-top: 135px;
}
body #blog .content .blog-text h2 {
  font-size: 37.55px;
  line-height: 84.6px;
  font-weight: 600;
  margin: 0 auto;
  padding-bottom: 115px;
}
body #blog .content .blog-text p {
  font-size: 30.06px;
  line-height: 37px;
  padding-bottom: 80px;
}
body #blog .content .blog-boxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}
body #blog .content .blog-boxes .boxes {
  margin: 0 auto;
  width: 275px;
}
body #blog .content .blog-boxes .boxes h2 {
  color: #11749e;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 2px;
}
body #blog .content .blog-boxes .boxes p {
  font-size: 15px;
  line-height: 24px;
  width: 90%;
  margin-bottom: 15px;
}
@media screen and (max-width: 640px) {
  body #blog .content .blog-boxes {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
body #quick {
  background-color: #11749e;
}
body #quick .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 105px;
  padding-bottom: 155px;
}
body #quick .container .quick-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
body #quick .container .quick-box img {
  min-width: 100px;
  height: 70px;
  padding-right: 44px;
}
body #quick .container .quick-box p {
  max-width: 450px;
}
body #key-future {
  background-image: url('images/keybanner.png');
  background-repeat: no-repeat;
  background-size: cover;
}
body #key-future .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 100px 0;
}
body #key-future .container .text {
  width: 48%;
  margin-top: 120px;
}
body #key-future .container .text h2 {
  font-size: 25px;
  line-height: 36px;
  padding-bottom: 40px;
}
body #key-future .container .text .blue1 {
  margin-top: 60px;
  padding: 10px 0 14px 20px;
  background-color: #11749e;
  width: 78%;
}
body #key-future .container .text .blue2 {
  margin-top: 20px;
  width: 88%;
  padding: 10px 0 14px 20px;
  background-color: #11749e;
}
body #key-future .container .text .blue3 {
  margin-top: 20px;
  width: 98%;
  padding: 10px 0 14px 20px;
  background-color: #11749e;
  margin-bottom: 20px;
}
body #key-future .container .phone {
  max-width: 48%;
}
body #key-future .container .phone img {
  width: 100%;
}
@media screen and (max-width: 766px) {
  body #key-future .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
body #ourteam {
  padding: 65px 0 105px 0;
  text-align: center;
}
body #ourteam h2 {
  font-size: 37px;
  line-height: 45px;
  position: relative;
  text-transform: uppercase;
  color: black;
}
body #ourteam h2.after {
  padding: 70px 0;
}
body #ourteam h2.after:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  content: 'T';
  font-size: 247.18px;
  line-height: 210.64px;
  color: #d7d7d7;
  z-index: -1;
}
body #ourteam h3 {
  color: black;
  font-size: 30.06px;
  line-height: 37px;
  padding: 67px 0 70px 0;
}
body #ourteam .team {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
body #ourteam .team .teammates {
  position: relative;
  margin: 0 auto;
}
body #ourteam .team .before {
  display: block;
  width: 215px;
  height: 67px;
  position: relative;
  margin: -50px 20px 0 20px;
  background-color: #ffffff;
  margin-bottom: 20px;
}
body #ourteam .team .before h4 {
  padding-top: 20px;
  color: #11749e;
  font-size: 20px;
}
body #ourteam .team .before span {
  color: #000000;
  font-size: 15px;
}
@media screen and (max-width: 600px) {
  body #ourteam .team {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
body #form {
  background-image: url('images/formbanner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 135px 0 100px 0;
  text-align: center;
}
body #form h2 {
  font-size: 37px;
  line-height: 45px;
  position: relative;
  text-transform: uppercase;
  color: #ffffff;
}
body #form h2.after {
  padding: 90px 0;
}
body #form h2.after:after {
  position: absolute;
  padding-bottom: 70px;
  top: 0;
  left: 0;
  right: 0;
  content: 'C';
  font-size: 247.18px;
  line-height: 210.64px;
  color: #4b4d4c;
  z-index: -1;
}
body #form form {
  margin-top: 140px;
}
body #form form input {
  position: relative;
  padding: 15px 0 15px 25px;
  margin: 0 13px 0 13px;
  margin-bottom: 36px;
  width: 30%;
  background: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}
body #form form input::-webkit-input-placeholder {
  color: #ffffff;
}
body #form form input:-ms-input-placeholder {
  color: #ffffff;
}
body #form form input::-ms-input-placeholder {
  color: #ffffff;
}
body #form form input::placeholder {
  color: #ffffff;
}
@media screen and (max-width: 1000px) {
  body #form form input {
    display: block;
    width: 96%;
    padding-right: 0;
    margin: 20px auto;
  }
}
body #form form textarea {
  padding: 15px 0 0 25px;
  width: 96%;
  margin: 0 12px 0 12px;
  margin-bottom: 45px;
  background: transparent;
  min-height: 145px;
  color: #ffffff;
}
body #form form textarea::-webkit-input-placeholder {
  color: #ffffff;
}
body #form form textarea:-ms-input-placeholder {
  color: #ffffff;
}
body #form form textarea::-ms-input-placeholder {
  color: #ffffff;
}
body #form form textarea::placeholder {
  color: #ffffff;
}
body #form form .btn-submit {
  padding: 0;
  border: none;
  width: 230px;
  height: 65px;
  background-color: #11749e;
  font-size: 20px;
  text-transform: uppercase;
}
body #map iframe {
  width: 100%;
  height: 333px;
}
body footer {
  background-color: #222222;
}
body footer .container {
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 52px 0 40px 0;
}
body footer .container p {
  margin-bottom: 20px;
  margin-right: 20px;
}
body footer .container img {
  margin: 0 auto;
}
label#email-error {
  position: absolute;
  bottom: -45px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  color: red;
  display: block;
}
label#name-error {
  position: absolute;
  bottom: -75px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  color: red;
  display: block;
}
label#phone-error {
  position: absolute;
  bottom: -95px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  color: red;
  display: block;
}
