html{
	height: 100%;
}
body{
	min-height: 100%;
	width: 100%;
	#home{
		background-image: url('images/headerbanner.png');
		background-repeat:no-repeat;
		background-size: cover;
		header{
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			.logo{
				width: 87px;
				height: 83px;
				padding-top: 20px;
	
			}
			nav {
				margin-left: 220px;
				padding-top: 55px;
				padding-bottom: 45px;
				ul {
					li {
						margin-right: 40px;
						display: inline-block;
						a {
							display: block;
							padding-bottom: 20px;
							color: #ffffff;
							text-decoration: none;
							text-transform: uppercase;
							font-size: 14px;
							border-bottom: 5px solid transparent;
							margin-bottom: -5px;
							&:hover,
							&.active {
								border-bottom: 5px solid #0099ff;
								color: #ffffff;
							}
						}
					}
				}
			}
			.links{
			padding-top: 55px;	
				li {
					display: inline-block;
					margin-right: 10px;
					a{
						display: block;
						
					}
				}
			}
		}
		.group-16{
			text-align: center;
			padding-top: 277px;
			padding-right: 20px;
			
			h2{
				font-size: 152.54px;
				font-weight: 900;
				color: #f5f5f5;
				padding-bottom: 35px;
				line-height: auto;
				

			}
			h4{
				margin-left: 20px;
				margin-bottom: 110px;
				font-size: 24.79px;
				line-height: 119.12px;
				letter-spacing: 19px;
				font-weight: 600;
				color: #11749e;
			}
			p{
				margin-bottom: 30px;
			}
			.btn-home{
				padding-bottom: 130px;
				a{
					display: block;
					width: 65px;
					height: 65px;
					border: 1px solid white;
					border-radius: 50%;
					margin: 0 auto;
					padding-top: 20px;
				}
			}	
			@media screen and (max-width: 750px){
				h2{
					font-size: 110px;
				}
			}
			@media screen and (max-width: 550px){
				h2{
					font-size: 80px;

				}
				h4{
					font-size:19px;
					line-height: 60px;
					letter-spacing: 1px;
				}
			}
			@media screen and (max-width: 410px){
				h2{
					font-size: 60px;
				}
			}
		}
		@media screen and (max-width: 965px){
			header{
				flex-direction: column;
				justify-content: center;
				align-items: center;
				nav{
					margin: 0 auto;
					ul{
						li{

							display: block;
							padding-bottom: 10px;
						}
					}
				}
			}
		}
	}
	#Features{
		background-color: #11749e;
		background-image: url('images/w.png');
		background-repeat: no-repeat;
		background-position: top 100px center;
		text-align: center;
		padding-top: 170px;
		padding-bottom: 130px;
		
		h3{
			font-size: 37.55px;
			line-height: 84.6px;
			margin-bottom: 145px;
		}
		.feature{
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			.boxes{
				width: 275px;
				margin: 0 auto;
				.imagebox{
					width: 140px;
					height: 140px;
					background-color: #2e85aa;
					border-radius: 50%;
					margin: 0 auto;
					padding-top: 55px;

				}
				h2{
					font-size: 18px;
					line-height: 36px;
					margin: 20px 0 30px 0;
				}
				p{
					font-size: 15px;
					line-height: 24px;
					
				}
			}
			@media screen and (max-width: 640px){
					flex-direction: column;
					justify-content: center;
					align-items: center;
				}
		}
	}
	#news{
		.top{
			
			background-color: #222222;
			display: flex;
			justify-content: space-between;
			
			.left{
				width: 50%;
				.text{
					margin: 70px 70px 0px 205px;
					.date{
						font-size: 13px;
					}
					h2{
						font-size: 25px;
						line-height: 36px;
						margin-bottom: 40px;
					}
					p{
						margin-bottom: 30px;

					}
				}
			}
			.right{
				width:50%;
				
				height: auto;
				img{
					width: 100%;
					height: 100%;

				}
			}
		}	
		.bottom{
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			background-color: #f3f3f3;
			.right{
				width:50%;
				img{
					width: 100%;
				}
			}
			.left{
				width: 50%;
				.text{
					color:#222222;
					
					
					margin: 50px 246px 120px 80px;

					
					.date{
						font-size: 13px;
					}
					h2{
						font-size: 25px;
						line-height: 36px;
						margin-bottom: 40px;
					}
					p{
						margin-bottom: 30px;

					}
				}
			}
		}
		@media screen and (max-width: 1400px){
			.top{
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				
				
				.left{
					
					.text{
						
						margin: 0;
						
						padding: 40px;
						
					}
				}
				.right{
					
					margin-bottom: 30px;
					img{
						width: 100%;
						padding-bottom: 30px;
						padding-top: 30px;
					}
				}
			}
			.bottom{
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				.left{
					
					.text{
						
						margin: 0;
						
						padding: 40px;
						
					}
				}
				.right{
					
					margin-bottom: 30px;
					img{
						width: 100%;
						padding-bottom: 30px;
						padding-top: 30px;
					}
				}
			}
		}
	}
	#blog{
		
		background-image: url('images/B.png');
		background-repeat: no-repeat;
		background-position: top 90px center;
		.content{
			text-align: center;
			color: #222222;
			padding-top: 135px;
			.blog-text{
				h2{
					font-size: 37.55px;
					line-height: 84.6px;
					font-weight: 600;
					margin: 0 auto;
					padding-bottom: 115px;
				}
				p{
					font-size: 30.06px;
					line-height: 37px;
					padding-bottom: 80px;
				}
			}
			.blog-boxes{
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				text-align: center;
				.boxes{
					margin: 0 auto;
					width: 275px;
					.imagebox{
						
						img{
							
						}
					}
					h2{
						color: #11749e;
						font-size: 18px;
						line-height: 36px;
						letter-spacing: 2px;
					}
					p{
						font-size: 15px;
						line-height: 24px;
						width: 90%;
						margin-bottom: 15px;
					}
				}
				@media screen and (max-width: 640px){
					flex-direction: column;
					justify-content: center;
					align-items: center;
				}
			}
		}
	}
	#quick{
		background-color: #11749e;
		.container{
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			padding-top: 105px;
			padding-bottom: 155px;
			
			.quick-box{
				display: flex;
				justify-content: space-between;
				margin-bottom: 20px;
				
				img{
					min-width: 100px;
					height: 70px;
					padding-right: 44px;
				}
				p{
					max-width: 450px;
					
				}

			}
		}
	}
	#key-future{
		background-image: url('images/keybanner.png');
		background-repeat: no-repeat;
		background-size: cover;
		.container{
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			padding: 100px 0;
			.text{
				width: 48%;
				margin-top: 120px;
				h2{
					font-size: 25px;
					line-height: 36px;
					padding-bottom: 40px;
				}
				p{

				}
				.blue1{
					margin-top: 60px;
					padding: 10px 0 14px 20px;
					background-color: #11749e;
					width: 78%;
				}
				.blue2{
					margin-top: 20px;
					width: 88%;
					padding: 10px 0 14px 20px;
					background-color: #11749e;
				}
				.blue3{
					margin-top: 20px;
					width: 98%;
					padding: 10px 0 14px 20px;
					background-color: #11749e;
					margin-bottom: 20px;
				}
			}

			.phone{
				max-width: 48%;
				img{
					width: 100%;
				}
			}
			@media screen and (max-width: 766px){
				flex-direction: column;
				justify-content: center;
				align-items: center;
				
			}
		}
	}
	#ourteam{
		padding: 65px 0 105px 0;
		text-align: center;
		h2 {
			font-size: 37px;
			line-height: 45px;
			position: relative;
			text-transform: uppercase;
			color: black;
			&.after {
				padding: 70px 0;
				&:after {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					content: 'T';
					font-size: 247.18px;
					line-height: 210.64px;
					color: #d7d7d7;
					z-index: -1;
				}
			}
		}
		h3{
			color: black;
			font-size: 30.06px;
			line-height: 37px;
			padding: 67px 0 70px 0;
		}
		.team{
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			.teammates{
				position: relative;
				margin: 0 auto;
			}
			.before{
				display: block;
				width: 215px;
				height: 67px;
				position:relative;
				margin: -50px 20px 0 20px;
				background-color: #ffffff;
				margin-bottom: 20px;
				h4{
					padding-top: 20px;
					color: #11749e;
					font-size: 20px;

				}
				span{
					color: #000000;
					font-size: 15px;
				}
			}
			@media screen and (max-width: 600px){
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
		}
	}	
	#form{
		background-image: url('images/formbanner.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		padding: 135px 0 100px 0;
		text-align: center;
		h2 {
			font-size: 37px;
			line-height: 45px;
			position: relative;
			text-transform: uppercase;
			color: #ffffff;
			&.after {
				padding: 90px 0;
				&:after {
					position: absolute;
					padding-bottom: 70px;
					top: 0;
					left: 0;
					right: 0;
					content: 'C';
					font-size: 247.18px;
					line-height: 210.64px;
					color: #4b4d4c;
					z-index: -1;
				}
			}
		}
		form{
			margin-top: 140px;
			input{
				position: relative;
				padding: 15px 0 15px 25px;
				margin: 0 13px 0 13px;
				margin-bottom: 36px;
				width: 30%;
				background: transparent;
				border: 1px solid #ffffff;
				color: #ffffff;
				&::-webkit-input-placeholder {
   	 				color: #ffffff;
				}
				&:-ms-input-placeholder {
   	 				color: #ffffff;
				}
				&::-ms-input-placeholder {
   	 				color: #ffffff;
				}
				&::placeholder {
   	 				color: #ffffff;
				}
				@media screen and (max-width: 1000px){
					display: block;
					width: 96%;
					padding-right: 0;
					margin: 20px auto;
				}
			}
			textarea{
				padding:15px 0 0 25px;
				width: 96%;
				margin:0 12px 0 12px;
				margin-bottom: 45px;
				background: transparent;
				min-height: 145px;
				color: #ffffff;
				&::-webkit-input-placeholder {
   	 				color: #ffffff;
				}
				&:-ms-input-placeholder {
   	 				color: #ffffff;
				}
				&::-ms-input-placeholder {
   	 				color: #ffffff;
				}
				&::placeholder {
   	 				color: #ffffff;
				}
			}
			.btn-submit{
				padding: 0;
				border: none;
				width: 230px;
				height: 65px;
				background-color: #11749e;
				font-size: 20px;
				text-transform: uppercase;
			}
		}
	}
	#map{
		iframe{
			width: 100%;
			height: 333px;
		}
	}
	footer{
		background-color: #222222;
		.container{
			text-align: center;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			padding: 52px 0 40px 0;
			p{
				margin-bottom: 20px;
				margin-right: 20px;
			}
			img{
				margin: 0 auto;
			}
		}
	}
}
label#email-error {
	position: absolute;
	bottom: -45px;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	        transform: translate(-50%, 0);
   	color: red; 
   	display: block;
   }
label#name-error {
	position: absolute;
	bottom: -75px;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	        transform: translate(-50%, 0);
   	color: red; 
   	display: block;
	}
label#phone-error {
	position: absolute;
	bottom: -95px;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	        transform: translate(-50%, 0);
   	color: red; 
   	display: block;
   	}

